# Programming for Data Science 2024
## Homework Assigment Two
Homework activities aim at testing not only your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support using moodle's Discussion Forum.

### Description

This homework assignment will test your capacity to **load and manipulate data with Pandas**. 
    
The goal is to develop intuition on filtering, arranging, and merging data, which will be useful for the next homework assignment.<br/>
Fill the empty cells with your code and deliver a copy of this notebook to Moodle. <br/>
    
Your submission will be graded according to the following guidelines:
1. **Execution** (does your program does what is asked from the exercise?
2. **Objectivity** (are you using the adequate libraries? are you using a library ... )
3. **Readability** of your code (including comments, variables naming, supporting text, etc ...)

**Comment your code properly**, which includes naming your variables in a meaningful manner. **Badly documented code will be penalized.**

This assignment is to be done in pairs, and remember that you can't have the same pair from the previous and subsequent assignments.

**Students that are caught cheating will obtain a score of 0 points.** <br>

Homework 2 is worth 25% of your final grade.    

The submission package should correspond to a .zip archive (.rar files are not accepted) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. HTML print of your Jupyter Notebook (in Jupyter go to File -> Download as -> HTML);
3. All text or .csv files that are exported as part of the exercises. **Please don't upload the files downloaded/imported as part of the exercises.**

**Please change the name of the notebook to "H2.\<student_1_id\>_\<student_2_id\>.ipynb", replacing \<student_id\> by your student_id.** <br>

Submission is done through the respective Moodle activity, and only one of the group members should submit the files. <br>
The deadline is the **19th of October at 12:00**. <br>
A penalty of 1 point per day late will be applied to late deliveries. <br>
**In this notebook, you are allowed to use Pandas and Numpy.**

In [2]:
import numpy as np
import scipy
import pandas as pd

# <span style="color:brown"> Start Here </span> 

[Please Complete the following form with your details]

Student Name - Rita Morgadito<br>
Student id - 20240611 <br>
Contact e-mail - 20240611@novaims.unl.pt<br>


Student Name - Miguel Mangerona<br>
Student id - 20240595 <br>
Contact e-mail - 20240595@novaims.unl.pt <br>

# <span style="color:brown"> Part 1 - Get the Data </span>

## Download and Load the World Development Indicators Dataset

We will work with the **World Development Indicators dataset**, which should be downloaded from the world bank data catalog.<br/>
Hence, the first step is to unzip the data given on Moodle, you can do this by running the cell below. <br/>

In [3]:
import zipfile, io

z = zipfile.ZipFile("WDI_csv.zip")
z.extractall()

del z

*The above code downloads a zip archive to the working folder, which by default is the the location of this notebook in your computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/> 
The contents include multiple .csv files, however we will be working only with the document 'WDICSV.csv'. <br/>*

**1.** In the cell bellow, use Pandas to open the file "WDICSV.csv" and **save** it to a variable called **wdi**.<br/>

In [4]:
wdi = pd.read_csv("WDICSV.csv",sep=",")

**2.** Check the top of the dataframe to ensure it was loaded correctly.

In [5]:
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.401410,17.911234,18.463874,18.924037,19.437054,20.026254,20.647969,21.165877,21.863139,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.728819,7.005877,7.308571,7.547226,7.875917,8.243018,8.545483,8.906711,9.261320,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.080931,38.422282,38.722108,38.993157,39.337872,39.695279,40.137847,40.522209,41.011132,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.860474,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.619475,16.500171,24.605861,25.396929,27.037528,29.137914,31.001049,32.777910,33.747907,NaN

## Download and Load the Penn World Table V9.0

We will additionally use data from the pwt v9.0 tables. <br/> 

**Run the following cell to download the dataset**.

In [6]:
import urllib
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x15957791100>)

**3.** In the following cell, open and read the file 'pwt90.xlsx' and **save** it into variable **pwt**. <br/>

In [7]:
pwt = pd.read_excel("pwt90.xlsx",sheet_name="Data")

**4.** Check the top of the dataframe to ensure it was loaded correctly.

In [8]:
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:brown"> Part 2 - Data Processing </span>

## Data Wrangling

Now that we have loaded our data we are ready to start playing with it. <br/>

**5.** Start by printing all the column values in the cell bellow.

In [9]:
print(wdi.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

**6.** List the values in the column 'Country Name'.You will get a list with repeated values, **delete all duplicates** to ease your analysis. <br/>

*Tip: There is a method in the pandas library that allows to do this easily.*

In [10]:
countries = wdi["Country Name"].unique()

print(countries)

['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World'
 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt, Arab Rep.'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia'
 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' "Korea, Dem. People's Rep." 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovak Republic' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkiye'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela, RB' 'Viet Nam' 'Virgin Islands (U.S.)'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

You might notice that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> We are only interested in **working with country-level data**, and as such we need to filter out all the unnecessary rows.

**7.** Save all the values of column 'Country Name' in a variable called **cnames**. <br/>

In [11]:
cnames = wdi['Country Name'].values
cnames

array(['Africa Eastern and Southern', 'Africa Eastern and Southern',
       'Africa Eastern and Southern', ..., 'Zimbabwe', 'Zimbabwe',
       'Zimbabwe'], dtype=object)

**7.1.** Delete all duplicate values.<br>

In [12]:
cnames = wdi['Country Name'].unique()
cnames

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

**7.2.** Print the names that do not represent countries.

In [13]:
not_countries = cnames[:49]
print(not_countries)

['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World']

You can take advantage of the structure of the dataset to realize that aggregates (Continents, Regions, etc) are all located on the top of the series 'cnames'. Moreover, since the series is small you can easily validate this assumption manually and then use that information to extract a slice of all the entries that represent non-countries entities.<br/>

**8.** In the next cell filter out, from **wdi**, the rows in which 'Country Name' represents an aggregate of countries.<br/>

In [14]:
#Creating a list that stores all the non countries in the column
non_aggregate_countries = [item for item in cnames if item not in not_countries]

In [15]:
# Applying the filter and converting it into a list in order to work
filtered_countries = list(filter(lambda x: x in non_aggregate_countries, wdi['Country Name']))

# Filtering the wdi
filtered_wdi = wdi[wdi['Country Name'].isin(filtered_countries)]

**9.** Check that the top of the **wdi** dataframe now only has countries and not aggregates of countries.

In [16]:
filtered_wdi[['Country Name']].head()

      Country Name
72912  Afghanistan
72913  Afghanistan
72914  Afghanistan
72915  Afghanistan
72916  Afghanistan

**10.** Reset the indexes of **wdi**. Perform this operation in-place.

In [17]:
# Reset the index of the filtered_wdi DataFrame in-place
filtered_wdi.reset_index(drop=True, inplace=True)

**11.** Show that the indexes have been reseted.

In [18]:
filtered_wdi[['Country Name']].head()

  Country Name
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

*Note that when reseting the index, pandas appends a new column at the begining of the data frame, which holds the previous index values.*

## Indicator Codes and Indicator Names

**12.** Select the columns 'Indicator Name' and 'Indicator Code'.Then, delete all the duplicates, and print the top 5 and bottom 5 values. <br/>

*Note: You should be able to do everything in a single line of code for the top 5 values and a single line for the bottom 5 values.*

In [19]:
#Top 5 values
print(wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().head(5))

#Bottom 5 values
print(wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().tail(5))

                                      Indicator Name     Indicator Code
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3            Access to electricity (% of population)     EG.ELC.ACCS.ZS
4  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS
                                         Indicator Name     Indicator Code
1483  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1484  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1485  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1486  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1487  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

**13.** Create a new DataFrame named **indicators** made up of the columns 'Indicator Name' and 'Indicator Code'. Then, delete all the duplicated entries. Finally, set the column 'Indicator Code' as the index of **indicators**. 

*Note: Try to perform all these steps in a single line of code.*

In [20]:
indicators = wdi[['Indicator Name', 'Indicator Code']].drop_duplicates().set_index('Indicator Code')

indicators

                                                      Indicator Name
Indicator Code
EG.CFT.ACCS.ZS     Access to clean fuels and technologies for coo...
EG.CFT.ACCS.RU.ZS  Access to clean fuels and technologies for coo...
EG.CFT.ACCS.UR.ZS  Access to clean fuels and technologies for coo...
EG.ELC.ACCS.ZS               Access to electricity (% of population)
EG.ELC.ACCS.RU.ZS  Access to electricity, rural (% of rural popul...
...                                                              ...
SG.VAW.REFU.ZS     Women who believe a husband is justified in be...
SP.M15.2024.FE.ZS  Women who were first married by age 15 (% of w...
SP.M18.2024.FE.ZS  Women who were first married by age 18 (% of w...
SH.DYN.AIDS.FE.ZS  Women's share of population ages 15+ living wi...
SH.HIV.INCD.YG     Young people (ages 15-24) newly infected with HIV

[1488 rows x 1 columns]

**The 'indicators' DataFrame can operate now as a dictionary. <br/>**
By passing an 'Indicator Code' (key) it returns the associated 'Indicator Name' (value).<br/>

**14.** Using the **indicators** DataFrame, find the 'Indicator Code' associated with the following observables:
1. 'Population', find the 'Indicator Code' of the total population in a country;
2. 'GDP', find the GDP measured in current US Dollars;
3. 'GINI index'

*Hint: You can use the method STRING.str.contains('substring') to check whether a string contains a substring.*

In [21]:
population_code = indicators[indicators['Indicator Name'].str.contains('Population, total')].index.tolist()

print("Population Indicator Code:", population_code)

Population Indicator Code: ['SP.POP.TOTL']

In [22]:
gdp_code = indicators[indicators['Indicator Name'].str.contains('GDP \\(current US\\$\\)')].index.tolist()
print("GDP Indicator Code:", gdp_code)

GDP Indicator Code: ['NY.GDP.MKTP.CD']

In [23]:
gini_code = indicators[indicators['Indicator Name'].str.contains('Gini index')].index.tolist()

print("GINI Index Indicator Code:", gini_code)

GINI Index Indicator Code: ['SI.POV.GINI']

## Extracting and Cleaning Data from WDI and PWT

**15.** From **wdi** extract the columns 'Indicator Code', 'Country Code', and '2012'.
Save the output in variable **wdi_sample**.

*Note: You should be able to perfom all operations in a single line of code. <br/>*

In [24]:
wdi_sample = wdi[['Indicator Code', 'Country Code', '2012']]

wdi_sample

           Indicator Code Country Code          2012
0          EG.CFT.ACCS.ZS          AFE     16.466945
1       EG.CFT.ACCS.RU.ZS          AFE      6.202221
2       EG.CFT.ACCS.UR.ZS          AFE     37.485980
3          EG.ELC.ACCS.ZS          AFE     31.666038
4       EG.ELC.ACCS.RU.ZS          AFE     19.369552
...                   ...          ...           ...
395803     SG.VAW.REFU.ZS          ZWE           NaN
395804  SP.M15.2024.FE.ZS          ZWE           NaN
395805  SP.M18.2024.FE.ZS          ZWE           NaN
395806  SH.DYN.AIDS.FE.ZS          ZWE     59.241862
395807     SH.HIV.INCD.YG          ZWE  21000.000000

[395808 rows x 3 columns]

**16.** Select from **wdi_sample** the lines associated with the Indicator Codes that you found in question 14., which concern the data of the 'Population total','GDP', and 'GINI index'.

In [25]:
indicator_codes = population_code + gdp_code + gini_code  
selected_data = wdi_sample[wdi_sample['Indicator Code'].isin(indicator_codes)]

selected_data.head(6)

      Indicator Code Country Code          2012
473   NY.GDP.MKTP.CD          AFE  9.526756e+11
497      SI.POV.GINI          AFE           NaN
1080     SP.POP.TOTL          AFE  5.525307e+08
1961  NY.GDP.MKTP.CD          AFW  7.377996e+11
1985     SI.POV.GINI          AFW           NaN
2568     SP.POP.TOTL          AFW  3.767980e+08

**17.** Create a pivot table, in which the **values** are column '2012', the **index** is 'Country Code', and the **columns** are the Indicator Codes. <br/>

*Hint: Pandas has a very useful method to create pivot tables.*

In [26]:
pivot_table = wdi_sample.pivot_table(values='2012', index='Country Code', columns='Indicator Code')

pivot_table

Indicator Code,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,AG.LND.CROP.ZS,AG.LND.FRST.K2,...,per_sa_allsa.cov_q4_tot,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,78.185000,20.000,11.111111,2000.0,0.019586,11.111111,NaN,NaN,4.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,221.665181,18.548039,6789159.825,45.733224,NaN,0.210629,7.839551,46378756.0,0.654966,4734211.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,114.088877,2.377852,379140.000,58.129801,7790000.0,0.255691,11.943640,3143000.0,0.190117,12084.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFW,312.384113,8.981646,3529813.266,39.021657,NaN,0.263896,10.992474,50541827.0,1.998847,1854212.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,8.876049,453030.000,36.338333,4700000.0,0.186595,3.769953,923085.0,0.204540,710478.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.968951,5.935078,13.995667,16.402836,36.114979,40.603008,42.797755,36.475686,33.972846,26.738494
YEM,NaN,16.022575,235010.000,44.511999,1204000.0,0.045913,2.280433,854689.0,0.562532,5490.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,158.041061,61.583333,963410.000,79.417850,12000000.0,0.225797,9.892094,3430267.0,0.340453,173412.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,NaN,37.626097,238360.000,32.063923,3800000.0,0.257720,5.111718,1185283.0,0.048427,463196.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,359.605911,18.250000,162000.000,41.876696,4000000.0,0.301538,10.339925,1846348.0,0.258498,178131.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**18.** Rename the column names of **wdi_sample** to 'Population', 'GDP', and 'GINI', accordingly.

In [27]:
wdi_sample.columns = ['Population', 'GDP', 'GINI']
wdi_sample.head()

          Population  GDP       GINI
0     EG.CFT.ACCS.ZS  AFE  16.466945
1  EG.CFT.ACCS.RU.ZS  AFE   6.202221
2  EG.CFT.ACCS.UR.ZS  AFE  37.485980
3     EG.ELC.ACCS.ZS  AFE  31.666038
4  EG.ELC.ACCS.RU.ZS  AFE  19.369552

**19.** From **pwt** select only the values of the year 2012. <br/>
Then, extract the columns 'countrycode' and 'hc' into a new variable **pwt_sample**. <br/>
Rename 'countrycode' to 'Country Code', so that it matches the same column in **wdi_sample**<br/>

*Note: in this case 'hc' stands for the Human Capital Index.<br/>*

In [28]:
pwt_sample = pwt[pwt['year'] == 2012][['countrycode', 'hc']].rename(columns={'countrycode': 'Country Code'})

pwt_sample.head()

    Country Code        hc
62           ABW       NaN
127          AGO  1.431295
192          AIA       NaN
257          ALB  2.917346
322          ARE  2.723864

**20.** Finally, create a new dataframe named **data** that contains the columns from **wdi_sample** and **pwt_sample**, matched by 'Country Code'. 

*Hint: Use the method concat(), and make sure both dataframes have the same index ('Country Code').*

In [29]:
pwt_sample = pwt_sample.set_index('Country Code')

In [30]:
data=pd.concat([pivot_table,pwt_sample])
data

,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,AG.LND.CROP.ZS,AG.LND.FRST.K2,...,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot,hc
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,78.185000,20.000,11.111111,2000.0,0.019586,11.111111,NaN,NaN,4.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,221.665181,18.548039,6789159.825,45.733224,NaN,0.210629,7.839551,46378756.0,0.654966,4734211.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,114.088877,2.377852,379140.000,58.129801,7790000.0,0.255691,11.943640,3143000.0,0.190117,12084.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFW,312.384113,8.981646,3529813.266,39.021657,NaN,0.263896,10.992474,50541827.0,1.998847,1854212.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,NaN,8.876049,453030.000,36.338333,4700000.0,0.186595,3.769953,923085.0,0.204540,710478.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.532614
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.488720
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.596012
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.330032
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.459828

# <span style="color:brown"> Part 3 - Analysing a Dataset </span>

**21.** Perform the necessary manipulations to answer the following questions, unless otherwise stated you can use the country codes to represent the countries in your solutions:
1. Which countries have a **population size of 10 million habitations +/- 1 million**?
2. What is  the **average** and the **standard deviation in the GDP** for the countries listed in 1?
3. What is  the **average** and the **standard deviation in the GDP per capita** for the countries listed in 1?
4. Consider the following classification of country size: <br/>
    Tiny - population < 1 000 000 <br/>
    Very Small - 1 000 000 <= population < 5 000 000 <br/>
    Small - 5 000 000 <= population < 15 000 000 <br/>
    Medium - 15 000 000 <= population < 30 000 000 <br/>
    Large - 30 000 000 <= population < 100 000 000 <br/>
    Huge - 100 000 000 <= population <br/>
   What is  the **average** and the **standard deviation in the GDP per capita for the countries in each size classification**?   
5. Create a **function** that will take a dataframe and a column name. This function should **return** a series with binary values indicating whether the **values from the column are above the mean value of that column** (indicated with a value of 1 or 0 otherwise). If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. *Hint:* search how to check if something is None so that we can return None. <br/>
6. What is the **average GDP per capita of the countries after being grouped by size classification and whether the human capital was above or below average**? *Hint: as an example, two of the groups should be (1) tiny and human capital below average, (2) tiny and human capital above average.*
7. What is the **average GDP per capita of the countries after being grouped by whether the human capital was above or below average and whether the gini coefficient was above or below average?**
8. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average and a level of human capital below average**?
9. What is the **name of the country** that has the **highest GDP per capita, a Gini coefficient below average for its size classification, and a level of human capital below average for its size classification**?
10. What is the **name of the country** that has the **largest % increase in GDP between 1980 and 2010?** *HINT: You will need to use the wdi dataframe.*

Write the necessary code to answer each question in a single cell. <br/>
Print the answer at the end of that cell.

In [31]:
#1
#Using the indicator calculated previously: Total Population
populated_countries =data[data["SP.POP.TOTL"].between(9000000,11000000)]
populated_countries["SP.POP.TOTL"]

Country Code
AZE     9295784.0
BDI     9795479.0
BEN    10014078.0
BLR     9446836.0
BOL    10569697.0
CZE    10510785.0
DOM    10030882.0
GIN    10788692.0
HTI    10108539.0
HUN     9920362.0
PRT    10514844.0
RWA    10840334.0
SSD    10701604.0
SWE     9519374.0
Name: SP.POP.TOTL, dtype: float64

In [32]:
#2
#Using the indicator calculated previously: GDP measured in US Dolars
average_gdp = populated_countries["NY.GDP.MKTP.CD"].mean()
std_dev_gdp = populated_countries["NY.GDP.MKTP.CD"].std()
print(f"The average of gdp for this countries is {average_gdp}")
print(f"The standard deviation in the GDP is {std_dev_gdp}")

The average of gdp for this countries is 98851409945.84126
The standard deviation in the GDP is 149245794399.39508

In [33]:
gdppercapita_code = indicators[indicators['Indicator Name'].str.contains('GDP per capita \\(current US\\$\\)')].index.tolist()
gdppercapita_code

['NY.GDP.PCAP.CD']

In [34]:
#3
#Assuming we want the indicator GDP per capita currents US dolars
average_gdppercapita=populated_countries["NY.GDP.PCAP.CD"].mean()
std_dev_gdppercapita=populated_countries["NY.GDP.PCAP.CD"].std()
print(f"The average of gdp per capita for this countries is {average_gdppercapita}")
print(f"The standard deviation in the GDP per capita is {std_dev_gdppercapita}")

The average of gdp per capita for this countries is 9982.440647663661
The standard deviation in the GDP per capita is 15473.789886856379

In [35]:
#4
def classify_country_size(population):
    if population < 1_000_000:
        return 'Tiny'
    elif 1_000_000 <= population < 5_000_000:
        return 'Very Small'
    elif 5_000_000 <= population < 15_000_000:
        return 'Small'
    elif 15_000_000 <= population < 30_000_000:
        return 'Medium'
    elif 30_000_000 <= population < 100_000_000:
        return 'Large'
    else:
        return 'Huge'
data['Size Classification'] = data['SP.POP.TOTL'].apply(classify_country_size)


#7# List of classifications
classifications = ['Tiny', 'Very Small', 'Small', 'Medium', 'Large', 'Huge']

# Create a dictionary to store results
gdp_per_capita_stats = {}

for size in classifications:
    # Filter for each classification
    size_countries = data[data['Size Classification'] == size]
    
    # Calculate average and standard deviation for GDP per capita
    average_gdp_per_capita = size_countries['NY.GDP.PCAP.CD'].mean()
    std_dev_gdp_per_capita = size_countries['NY.GDP.PCAP.CD'].std()

    gdp_per_capita_stats[size] = {'Average GDP per Capita': average_gdp_per_capita,'Standard Deviation GDP per Capita': std_dev_gdp_per_capita}
for size, stats in gdp_per_capita_stats.items():
    print(f"{size}: Average GDP per Capita = {stats['Average GDP per Capita']}, Standard Deviation = {stats['Standard Deviation GDP per Capita']}")

Tiny: Average GDP per Capita = 28226.323969660796, Standard Deviation = 36308.71814789197
Very Small: Average GDP per Capita = 14027.157700796239, Standard Deviation = 18143.708977391387
Small: Average GDP per Capita = 16128.620450879582, Standard Deviation = 23390.31679690212
Medium: Average GDP per Capita = 8987.669615250645, Standard Deviation = 15975.69384113021
Large: Average GDP per Capita = 13176.847860121099, Standard Deviation = 15611.82760081485
Huge: Average GDP per Capita = 10919.412647678178, Standard Deviation = 14219.128683936597

In [34]:
#8

In [35]:
#9

In [36]:
#10